.Tableau2{
width:500px;
height:500px;
background-color:white;
float:right;
padding:20px;
border:solid 1px white;
}
.Tableau1 {
border:solid 1px ;
background-image: url("img.jpg");
width:500px;
padding:20px;
height:500px;
float="left";
}
